@charset "UTF-8";

    @media screen and (min-width: 768px) and (max-width: 992px)  {
        .biografia p{
            max-width: 700px;
        }
        .biografia h1{
            width: 500px;
        
    }
    .img{
        height: 400px;
    }

    } 

    @media screen and (min-width: 992px) and (max-width: 1200px) { /*Desktop*/

        .biografia p{
            max-width: 900px;
            font-size: 1.2em;
        }
         .terapia h1{
            max-width: 400px;
            padding: 10px;
        }
        .terapia p{
            max-width: 700px;
        }
        .img{
            height: 500px;
        }
        .link{
        text-align: center;
            
        }
        .titulo-livro{
            max-width: 400px;
            padding: 20px;
            font-size: 25px;
        }
    
    }

    @media screen and (min-width: 1200px) {
        /*biografia*/

    .media-bio{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
    }

    .terapia p{
        max-width: 900px;
        font-size: 23px;
        line-height: 40px;
    }
    
/*beneficios*/

    .beneficios{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }
    .div1{
        width: 300px;
    }
    .div2 .div3{
        width: 320px;
    }
    .div2 ul{
            line-height: 57px;
    }
    .div1 p{
        line-height: 40px;
    }
    .div3 p{
        line-height: 50px;
        width: 320px;
    }
    .div3 .titulo-beneficios{
        margin-top: 30px;
        margin-bottom: 40px;
    }

    /*livro*/
    .livro{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
    }
    .img{
        height: 500px;
    }
    .titulo-livro{
        max-width: 500px;
        padding: 20px;
        font-size: 25px;
    }
    .link{
        font-size: 30px;
    }

    /*mentoria*/
    .mentoria img{
        height: 300px;
        
    }
    
    }



