@charset "UTF-8";

    @media screen and (max-width: 992px)  {
        /*MENU*/
      header{
        background-image: url(../imagens/fundo-menu-tel.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
      }
      header > nav > a{
        display: none;
      }
       .mobile-menu > ul > li > a{
        font-size: 15px;
        color: #cea34e;
        text-decoration: none;
        padding: 8px;
        max-width: 300px;
        border-radius: 10px;
        box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.395);
      }
      .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        align-items: flex-start;
        align-content: space-between;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        }
        .mobile-menu ul a:hover{
            box-shadow: 3px 2px 10px 2px #cea34e;
            transform: scale(1.1, 1.1);
            font-size: 20px;
            text-shadow: 1px 1px 1px #cea34e;
            background-color: rgba(0, 0, 0, 0.055);
            transition: .4s;
        }

      .logo{
        border-radius: 10px;
        height: 280px;
        opacity: 100%;
        border-radius: 20px;
        
    }



    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
    /*FIM MENU*/
    
    /*BIOGRAFIA*/
    .fundo{
        background-image: url(../imagens/27222.jpg);
        background-size: cover;
        background-position: center top;
    }
    .sobre{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .sobre p{
        width: 80vw;
    }
    .objetivo-bio{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .biografia img{
        height: 275px;
    }
    /*FIM BIOGRAFIA*/

    /*PALESTRAS E CURSOS*/
    .card img{
        height: 250px;
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .card img:hover{
        height: 300px;
        transition: .4s;
        
    }

    /*FIM PALESTRAS E CURSOS*/

    /*TERAPIA 1*/
    .terapia{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }
    .terapia > .texto-milagre{
        text-align: justify;
        width: 80vw;
    }
    .img-importancia img{
        height: 250px;
    }
    /*FIM TERAPIA 1*/

    /*TERAPIA 2*/
    .terapia2 p{
        max-width: 90vw;
    }
    .tipos-terapia{
        margin-bottom: 15px;
    }
    .tipos-terapia img{
        height: 100px;
    }
    .tipos-terapia p{
        font-size: 14px;
        max-width: 50%;
        line-height: 15px;
    }
    .agende{
        font-size: 15px;
        padding: 8px;
    }
    .agende a:hover{
        font-size: 16px;
    }
    /*FIM TERAPIA 2*/

    /*ESCRITA*/
    .cont-mento-escrita{
        display: flex;
        flex-direction: column;
    }
    .cont-mento-escrita p{
        width: 90vw;
    }
    .cont-mento-escrita img{
        height: 240px;
    }
    .vaga{
        font-size: 16px;
        width: 80%;
        text-align: center;
    }
    .vaga:hover{
        box-shadow: 3px 2px 1px 2px #cea34e92;
        font-size: 15px;
        transform: scale(1.1, 1.1);
        text-shadow: 1px 1px 1px #cea34e;
        transition: .4s;
    }
    .escrita img{
        height: 220px;
    }
    .img-escritoras{
        display: flex;
        flex-direction: column;
    }
    .img-escritoras .img2{
        display: none;
    }
               
                    

    /*FIM ESCRITA*/

    /*LIVROS*/
    .livro img{
        height: 300px;
    }
    .flex-liv{
        display: flex;
        flex-direction: column;
      
    }
    .column{
        max-width: 90%;
    }
    .encontra{
        max-width: 90%;
    }
    .overflow{
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
    }
    .overflow img{
        height: 270px;
        margin: 5px;
    }
    .cont-box{
        display: none;
    }
    .esconder.cont2 p{
        max-width: 90%;
    }
    .icons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .icons a img{
        height: 20px;
    }
    .coautora{
        display: flex;
        flex-direction: column;
    }
}
    
    @media screen and (min-width: 992px) and (max-width: 1200px) { /*Desktop*/
        header > nav{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: nowrap; 
        }
        header > nav > a{
            font-size: 1.2em;
        }
        .biografia p{
            max-width: 900px;
            font-size: 1.2em;
        }
         .terapia h1{
            max-width: 400px;
            padding: 10px;
        }
        .terapia p{
            max-width: 700px;
        }
        .img{
            height: 500px;
        }
        .link{
        text-align: center;
            
        }
        .titulo-livro{
            max-width: 400px;
            padding: 20px;
            font-size: 25px;
        }
        
    
    }
    

    @media screen and (min-width: 1200px) {
        /*biografia*/
        header > nav > a{
            font-size: 1.4em;
        }
    .media-bio{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
    }

    
/*beneficios*/

    .beneficios{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }
    .div1{
        width: 300px;
        line-height: 20px;
    }
    .div2 .div3{
        width: 320px;
    }
    .div2 ul{
            line-height: 50px;
    }
    .div1 p{
        line-height: 40px;
    }
    .div3 p{
        line-height: 40px;
        width: 320px;
    }
    .div3 .titulo-beneficios{
        margin-top: 30px;
        margin-bottom: 40px;
    }

    /*livro*/
    .img{
        height: 400px;
        margin-bottom: 20px;
    }
    .link{
        display: none;
        
    }
    .link2{
        display: block;
        background-color: #a70051 ;
        padding: 10px;
        font-size: 40px;
        color: white;
        margin-top: 40px;
        text-decoration: none;
        border-radius: 10px;
    
    }
    .link2:hover{
        background-color: white;
        color: black;
        transition: .5s;
    }
    .img2-livro{
    margin-top: 30px;
   
    }
    .img2-livro #img-livro{
        height: 500px;
    }

    /*mentoria*/
    .mentoria img{
        height: 300px;
        
    }
    .sessao-galeria img{
        height: 350px;
        width: 350px;
    }
    .media-mentoria{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;
        
    }
    .media-terapia{
        display: flex;
        justify-content: space-evenly;

    }
    .img-importancia img{
        height: 360px;
    }
    }



