@charset "UTF-8";

/*Versão Mobile First*/
body{
    margin: 0;
}
:root{
    --cor1: #a70051;
    --cor2: #722429;
    --cor3: #ffb804;
    --cor4: #cea34e;
    --cor5: #3c5970;
    --cor6: #5b8379;
}
header{
    height: 150px;
}

.logo{
    border-radius: 10px;
    height: 100px;
    
}
header > nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-image: linear-gradient(to top,#94252f, rgb(168, 0, 81) );
    background-size: cover;
    background-position: center bottom;
    height: 100%;

}
header > nav > a{
    text-decoration: none;
    color: white;
    padding: 5px;
    border: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;

}
header> nav > a:hover{
    transition: 0.4s;
  background-color: #722429;
}
main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: stretch;
    justify-content: center;
    align-items: stretch;
    border-bottom:1px solid #cea34e ;
}

.biografia{
    text-align: justify;
    padding: 20px;
}

.img-josi{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.biografia img{
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.623);
    border: 1px solid white;
    border-radius: 8px;
    height: 340px;
}
.biografia h1{
    color: #d1960c;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.548);
    font-size: 1.7em;
    font-weight: bold;
    width: 100%;
    font-family: oxygen ;

}
.sobre{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.sobre p{
    max-width: 800px;
    font-size: 20px;
    line-height: 29px;
    text-align: justify;
    padding: 10px;
    width: 100%;

}
.quem-sou, h1{
    text-align: center;
    font-size: 1.6em;
    }
.objetivo-bio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
    margin: 0;
    line-height: 29px;
    padding: 10px;
}
.objetivo-bio p{
    max-width: 830px;
    padding: 10px;
}
.objetivo-bio h1{
    padding: 0;
    font-size: 1.7em;
    font-weight: bold;
}
.terapia{
    font-size: 20px;
    line-height: 29px;
    border-bottom: 1px solid #cea34e;
}
.texto-milagre{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.texto-milagre p{
    max-width: 950px;
}
    .texto-baixo{
        width: 92%;  
        padding: 10px;  
        margin: 0;  
        text-align: justify;
    }
.box-titulo-terapia{
    padding-top: 15px;
}
.img-importancia img{
   height: 500px;
   border-radius: 35px 0px 35px 0px;
   box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.623);
}
.img-importancia{
    text-align: center;
    padding: 20px;
}
.terapia h2{
    text-align: center;
    margin: 0;
    padding: 15px;
    
}
.terapia2 p{
    margin: auto;
    text-align: justify;
    font-size: 21px;
    line-height: 29px;
    padding: 10px;
    max-width: 1100px;
}
.container-tipos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.tipos-terapia{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.tipos-terapia p{
    max-width: 900px;
    font-size: 23px;
    line-height: 36px;
    font-family: oxygen;
    border-bottom: 1px solid #cea34e;
}
.tipos-terapia img{
        height: 270px;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.495);
    }
    .agende{
        padding: 10px;
        font-size: 20px;
        color: #cea34e;
        border: 1px solid #cea34e;
    }
.livro{
    padding: 20px;
    background-image: linear-gradient( 120deg, #722429, #a70051 );
    color: white;
}
.titulo-livro{
    margin-top: 30px;
}
.livro p{
    text-align: justify;
    font-size: 20px;
    line-height: 25px;
    max-width: 500px;
    background-color: #7224298c;
    padding: 15px;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.74);
    border-radius: 35px 0px 35px 0px;
    margin: 10px;
    font-family: oxygen;
}
.paragrafo-livro{
   display: flex;
   flex-direction: column;
   align-items: center;

}
.livro img{
    border-radius: 35px 0px 35px 0px;
    box-shadow: 12px 9px 10px rgba(0, 0, 0, 0.548);
    margin-bottom: 20px;
}

.img-livro{
    text-align: center;
} 
.img2-livro {
    text-align: center;
}
.link2{
    display: none;
}
.pai-img-mentoria{
    text-align: center;
    padding-bottom: 10px;
}
.img-mentoria{
    border-radius: 35px 0px 35px 0px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.616);
    opacity: 87%;


}
.mentoria{
    background-image: url(../imagens/girassol.jpg);
    background-size: cover;
    background-position: center left;
     background-attachment: fixed;
     color: white;
     padding: 20px;
}
.mentoria p{
    text-align: justify;
    margin: auto;
    font-size: 18px;
    line-height: 33px;
    max-width: 400px;
    background-image: linear-gradient(to bottom, #722429e5, #722429e7, #9c2961ce );
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.74);
    border-radius: 35px 0px 35px 0px;
    
    font-family: oxygen;
}
.p-mentoria{
    text-align: center;
}
.sessao-galeria{
    display: flex;
    overflow-x: scroll;
    margin: 0 auto 20px auto;
    border-radius: 35px 0px 35px 0px;
    margin-top: 10px;
    max-width: 1000px;
}
.sessao-galeria img{
    width: 320px;
    margin: 2px;
}

.l-mentoria{
    margin: 10px 0px 10px 0px;
    font-size: 20px;
    color: white;
    background-image: linear-gradient(to bottom, #9c2961ce, #722429f1  );
    padding: 10px;
    border-radius: 35px 0px 38px 0px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.719);
    margin: auto;
    line-height: 40px;
    margin-bottom: 10px;
    max-width: 400px;
    font-family: oxygen;
    color: white;
    padding: 10px;
    text-decoration: none;
    text-align: justify;
}
.link{
    background-color: #a70051 ;
    padding: 10px;
    color: white;
    margin-top: 40px;
    text-decoration: none;
    border-radius: 10px;

}
.link-2{
  display: none;

}
.link:hover{
    background-color: white;
    color: black;
    transition: .5s;
}
.link-container{
    margin-top: 18px;
    text-align: center;
}
.link-container2{
    margin: auto;
    
}
.contato{
    background-image: linear-gradient(to top, #9c2961, #722429 );
    color: white;
    text-align: center;
}
.icons{
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 8px;
    
}
.icons img{
    padding: 10px;
    background-color:var(--cor4);
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.753);
}
.icons img:hover{
    transform:translate(-5px, -5px);
    border: 3px solid white;
}

.contato h1{
    text-align: center;
    margin: 0;
    padding-top: 10px;
    font-size: 30px;
}
footer{
    background-color: black;
    color: white;
    }
    .logo-hd{
        text-align: center;
    }
    .logo-hd h3{
        margin: 0;
    }
    .icons-footer{
        max-width: 500px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 8px;
        
    }
    .icons-footer img{
        padding: 10px;
        background-color: rgb(214, 214, 214);
        border-radius: 10px;
        margin: 4px;
        border: 1px solid white;
        box-shadow: 3px 3px 5px 2px rgba(255, 0, 157, 0.753);
    }
    .icons-footer img:hover{
        transform:translate(-5px, -5px);
        border: 3px solid rgba(255, 0, 157, 0.753);
    }
    