@charset "UTF-8";

/*Versão Mobile First*/
body{
    margin: 0;
}
:root{
    --cor1: #a70051;
    --cor2: #5f1e23;
    --cor3: #ffb804;
    --cor4: #cea34e;
    --cor5: #3c5970;
    --cor6: #5b8379;
}
header{
    height: 150px;
    
}
.logo{
    border-radius: 50px;
    
}
header > nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(../imagens/fundo-menu.jpg);
    background-size: cover;
    background-position: center bottom;
    height: 100%;

}
header > nav > a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;

}
header> nav > a:hover{
    transition: 0.4s;
    background-color: #5f1e23b7;
}
main{
     background-image: url(../imagens/back-mobile2.jpg);
     background-position: center center;
     background-size: cover;
     
}

.biografia{
    text-align: justify;
    padding: 20px;
}

.img-josi{
   text-align: center;
}
.biografia img{
    border-radius: 35px 0px 35px 0px; 
}

.biografia h1{
    text-align: center;
    padding: 8px;
    color: white;
    background-color: var(--cor2);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
    max-width: 250px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 35px 0px 35px 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.623);
}
.biografia p{
    max-width: 360px;
    margin: auto;
    padding: 8px;
    line-height: 30px;
    font-size: 18px;
    background-color: #5f1e23cb;
    color: white;
    border-radius: 35px 0px 35px 0px;
}

.terapia{
    background-color: var(--cor2);
    color: white;
    
}
.terapia ul{
    margin: 0px;
    font-size: 20px;
    color: white;
    background-color: #5f1e23fa;
    padding: 10px;
    border-radius: 35px 0px 35px 0px;
}
.terapia p{
    line-height: 35px;
    font-size: 20px;
    text-align: justify;
    max-width: 600px;
    margin: auto;
    padding: 0 20px;
}
.terapia h1, h2{
    text-align: center;
    margin: 0;
    padding: 15px;
    
}

.beneficios{
    background-image: url(../imagens/922c0cb4-ace3-40c4-b853-8fe56a736819.jpg);
    background-size: cover;
    background-position: center bottom;
    padding: 20px;
    color: white;
    
}
.beneficios ul{
    margin: 10px 0px 10px 0px;
    font-size: 20px;
    color: white;
    background-color: #5f1e23fa;
    padding: 10px;
    border-radius: 35px 0px 35px 0px;
}

.beneficios p{
    text-align: justify;
    margin: auto;
    background-color: #5f1e23dc;
    padding: 10px;
    border-radius: 35px 0px 35px 0px;
    color: white;
    font-size: 20px;
    line-height: 35px;
    max-width: 600px;
    }


.livro{
    padding: 20px;
    background-color: #5f1e23;
    color: white;
}

.livro p{
    text-align: justify;
    margin: auto;
    font-size: 20px;
    line-height: 25px;
    max-width: 500px;
}
.livro img{
    border-radius: 35px 0px 35px 0px;
}

.img-livro{
    text-align: center;
}

 

footer{
    background-color: black;
    color: white;

}
.logo-hd{
    text-align: center;
}
.logo-hd h3{
    margin: 0;
}