@charset "UTF-8";
@font-face {
    font-family:'Borel';
    src: url('../fontes/Borel-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Versão Mobile First*/
body{
    margin: 0;
}
:root{
    --cor1: #a70051;
    --cor2: #722429;
    --cor3: #ffb804;
    --cor4: #cea34e;
    --cor5: #3c5970;
    --cor6: #5b8379;
}
header{
    height: 150px;
    background-image: url(../imagens/fundo-menu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    border-radius: 10px;
    height: 400px;
    opacity: 100%;
    border-radius: 20px;
    
}
header > nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 

}
header > nav > a{
    font-size: 18px;
    color: #cea34e;
    text-decoration: none;
    padding: 12px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.395);
    

}
header> nav > a:hover{
    box-shadow: 3px 2px 10px 2px #cea34e;
    transform: scale(1.1, 1.1);
    font-size: 20px;
    text-shadow: 1px 1px 1px #cea34e;
    background-color: rgba(0, 0, 0, 0.055);
    transition: .4s;
}
.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}
main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: stretch;
    justify-content: center;
    align-items: stretch;
}
.fundo{
    background-image: url(../imagens/27222.jpg);
    background-size: cover;
}

.biografia{
    text-align: justify;
    padding: 20px;
}

.img-josi{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.biografia img{
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.623);
    border: 1px solid white;
    border-radius: 8px;
    height: 340px;
}
.biografia h1{
    color: #d1960c;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.548);
    font-size: 1.7em;
    font-weight: normal;
    width: 100%;
    font-family: 'Borel' ;
}
.sobre{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.sobre p{
    max-width: 800px;
    font-size: 20px;
    line-height: 29px;
    text-align: justify;
    padding: 10px;
    width: 100%;

}
.quem-sou{
    text-align: center;
    font-size: 1.6em;
    }
.objetivo-bio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
    margin: 0;
    line-height: 29px;
    padding: 10px;
}
.objetivo-bio p{
    max-width: 830px;
    padding: 10px;
}
.objetivo-bio h1{
    padding: 0;
    font-size: 1.7em;
    font-weight: normal;
    text-align: center;
    font-family: 'Borel' ;
    background-color: rgba(255, 255, 255, 0.374);
}
.cont-borda{
    display: flex;
    flex-direction: row;
}
.borda{
    border-bottom: 2px solid #cea34e;
    width: 50%;
}
/*TOPICO "O MILAGRE DA TERAPIA"*/
.terapia{
    font-size: 20px;
    line-height: 29px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.texto-milagre{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.texto-milagre p{
    max-width: 100%;
    padding: 10px;
    border-radius: 10px;
    max-width: 500px;
}
.container{
    display: none;
}
button{
    max-width: 180px;
    font-size: 18px;
    color: #cea34e;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.395);
}
button:hover{
    box-shadow: 3px 2px 1px 2px #cea34e92;
    transform: scale(1.1, 1.1);
    font-size: 20px;
    text-shadow: 1px 1px 1px #cea34e;
    transition: .4s;
}
.box-titulo-terapia{
    padding-top: 15px;
}
.img-importancia img{
   height: 500px;
   border-radius: 35px 0px 35px 0px;
   box-shadow: 2px 2px 10px 10px #cea34e;
}
.img-importancia{
    text-align: center;
    padding: 20px;
}
.terapia2{
background-image: url(../imagens/27222.jpg);
background-size: cover;
}
.terapia h1{
    text-align: center;
    margin: 0;
    padding: 15px;
    font-weight: normal;
    font-family: 'Borel' ;
    
}
.terapia2 h1{
    text-align: center;
    margin: 0;
    padding-top: 15px;
    font-weight: normal;
    font-family: 'Borel';
    font-size: 2.2em;
    color: #cea34e;
}
.terapia2 p{
    margin: auto;
    text-align: justify;
    font-size: 21px;
    line-height: 29px;
    padding: 10px;
    max-width: 1100px;
}
.container-tipos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.tipos-terapia{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.tipos-terapia p{
    max-width: 900px;
    font-size: 23px;
    line-height: 36px;
    font-family: oxygen;
    border-bottom: 1px solid #cea34e;
}
.tipos-terapia img{
        height: 270px;
        border-radius: 10px;
        box-shadow: 8px 8px 20px #cea34ebd;
    }
    .cont-borda2{
        display: flex;
        flex-direction: row-reverse;
    }
    .borda2{
        border-bottom: 2px solid #cea34e;
        width: 100%;
    }
    .agende{
    text-decoration: none;
    max-width: 260px;
    font-size: 20px;
    color: #cea34e;
    padding: 12px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.395);
    }
    .agende:hover{
        box-shadow: 3px 2px 1px 2px #cea34e92;
        transform: scale(1.1, 1.1);
        font-size: 20px;
        text-shadow: 1px 1px 1px #cea34e;
        background-color: white;
        transition: .4s;
    }
    /*TOPICO MENTORIA ESCRITA*/
    .fundo2{
        background-image: url(../imagens/fundo2.jpg);
        background-size: cover;
    }
    .escrita{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .escrita h1{
        font-weight: normal;
        font-family: 'Borel' ;
        font-size: 1.7em;
    }
    
    .cont-mento-escrita{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .cont-mento-escrita img{
        height: 300px;
        border-radius: 10px;
        box-shadow: 2px 2px 16px 6px #cea34eee;
    }
    .cont-mento-escrita .img2{
        height: 360px;
    }
    .cont-mento-escrita p{
       
        font-size: 20px;
        line-height: 29px;
        
    }
    .div2{
        max-width: 60%;
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .vaga{
        text-decoration: none;
        max-width: 100%;
        font-size: 20px;
        color: #cea34e;
        background-color: black;
        padding: 12px;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.395);
    }
    .vaga:hover{
        box-shadow: 3px 2px 1px 2px #cea34e92;
        transform: scale(1.1, 1.1);
        font-size: 20px;
        text-shadow: 1px 1px 1px #cea34e;
        transition: .4s;
    }

    /*TOPICO LIVRO*/
    section > .livro{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.titulo-livro{
    text-align: center;
    text-align: center;
    color: #cea34e;
    font-family: 'Borel';
    font-size: 2.2em;
}
.livro img{
    height: 400px;
    border-radius: 10px;
    margin: 10px;
    box-shadow:2px 2px 16px 6px #cea34eee;;
}
.cont-flex-liv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.flex-liv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.flex-liv p{
    max-width: 60%;
    line-height: 23px;
    font-size: oxygen;
    font-size: 20px;
    margin: 0;
    text-align: justify;
}
.img2-liv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.peça{
    text-decoration: none;
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: #cea34e;
    padding: 12px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.395);
    }
    .peça:hover{
        box-shadow: 3px 2px 1px 2px #cea34e92;
        transform: scale(1.1, 1.1);
        font-size: 20px;
        text-shadow: 1px 1px 1px #cea34e;
        background-color: white;
        transition: .4s;
    }
 /*FIM LIVRO*/

 /*DEPOIMENTO DE CLIENTES*/

.Depoimento{
    background-image: url(../imagens/27222.jpg);
    background-size: cover;
    background-position: center top;
     background-attachment: fixed;
    padding: 20px;
}
.Depoimento h2{
    text-align: center;
    color: #cea34e;
    font-family: 'Borel';
    font-size: 2.2em;
}
.sessao-galeria{
    display: flex;
    overflow-x: scroll;
    margin: 0 auto 20px auto;
    border-radius: 25px;
    margin-top: 10px;
    max-width: 1000px;
}
.sessao-galeria img{
    width: 320px;
    margin: 2px;
}
/*FORMULÁRIO*/
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form h2{
    text-align: center;
    color: #cea34e;
    font-family: 'Borel';
    font-size: 2.2em;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 15px #cea34e;
}
form input, textarea{
    width: 100%;
    height: 30px;
    border-radius: 20px;
    padding: 5px;
}

.contato{
    background-image: url(../imagens/1122.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}
.icons{
    max-width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 8px;
    
}
.icons img{
    
    padding: 15px;
    background-color:var(--cor4);
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.753);
}
.icons img:hover{
    transform:translate(-5px, -5px);
    border: 3px solid white;
}

.contato h1{
    text-align: center;
    margin: 0;
    padding-top: 10px;
    font-size: 30px;
}
footer{
    background-color: black;
    color: white;
    }
    .logo-hd{
        text-align: center;
    }
    .logo-hd h3{
        margin: 0;
    }
    .icons-footer{
        max-width: 500px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 8px;
        
    }
    .icons-footer img{
        padding: 10px;
        background-color: rgb(214, 214, 214);
        border-radius: 10px;
        margin: 4px;
        border: 1px solid white;
        box-shadow: 3px 3px 5px 2px rgba(255, 0, 157, 0.753);
    }
    .icons-footer img:hover{
        transform:translate(-5px, -5px);
        border: 3px solid rgba(255, 0, 157, 0.753);
    }
    